services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: spor_db_container
    environment:
      SA_PASSWORD: "Admin123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1435:1433"
    restart: always